In [48]:
import numpy as np
import pandas as pd
from math import factorial

# Task_1

Даны значения зарплат из выборки выпускников: 100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150. Посчитать (желательно без использования статистических методов наподобие std, var, mean) среднее арифметическое, среднее квадратичное отклонение, смещенную и несмещенную оценки дисперсий для данной выборки.

In [28]:
a=[100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150]
a

[100,
 80,
 75,
 77,
 89,
 33,
 45,
 25,
 65,
 17,
 30,
 24,
 57,
 55,
 70,
 75,
 65,
 84,
 90,
 150]

In [29]:
mean = sum((int(a[i]) for i in range(0, int(len(a)))))/len(a)
mean

65.3

In [32]:
# в таком виде считать неудобно, поэтому преобразую list в dataframe

In [33]:
df = np.array(a)
df = pd.DataFrame(df, columns = ['salary'])
df

    salary
0      100
1       80
2       75
3       77
4       89
5       33
6       45
7       25
8       65
9       17
10      30
11      24
12      57
13      55
14      70
15      75
16      65
17      84
18      90
19     150

In [34]:
mean_2 = df.sum()/df.count()
mean_2

salary    65.3
dtype: float64

In [35]:
np.mean(a)

65.3

In [40]:
std = np.sqrt(((df['salary'] - df['salary'].mean())**2).sum() / df['salary'].count())
std

30.823854398825596

In [41]:
df['salary'].std(ddof=0)

30.823854398825596

In [42]:
var_1 = ((df['salary'] - df['salary'].mean())**2).sum() / df['salary'].count()
var_1

950.11

In [43]:
df['salary'].var(ddof=0)

950.11

In [45]:
var_2 = ((df['salary'] - df['salary'].mean())**2).sum() / (df['salary'].count()-1)
var_2

1000.1157894736842

In [46]:
df['salary'].var(ddof=1)

1000.1157894736842

# Task_2

В первом ящике находится 8 мячей, из которых 5 - белые. Во втором ящике - 12 мячей, из которых 5 белых. Из первого ящика вытаскивают случайным образом два мяча, из второго - 4. Какова вероятность того, что 3 мяча белые?

In [50]:
def combination(n, k):
    return int(factorial(n)/(factorial(k) * factorial(n-k)))

In [70]:
p1 = combination(5,2)*combination(3,0)/combination(8,2) * combination(5,1)*combination(7,3)/combination(12,4)
p1

0.12626262626262627

In [71]:
p2 = combination(5,1)*combination(3,1)/combination(8,2) * combination(5,2)*combination(7,2)/combination(12,4)
p2

0.22727272727272724

In [72]:
p3 = combination(5,0)*combination(3,2)/combination(8,2) * combination(5,3)*combination(7,1)/combination(12,4)
p3

0.015151515151515152

In [73]:
p = p1+p2+p3
p

0.3686868686868686

# Task_3

На соревновании по биатлону один из трех спортсменов стреляет и попадает в мишень. Вероятность попадания для первого спортсмена равна 0.9, для второго — 0.8, для третьего — 0.6. Найти вероятность того, что выстрел произведен: a). первым спортсменом б). вторым спортсменом в). третьим спортсменом.

In [92]:
p_a = 1/3*0.9/(1/3*0.9+1/3*0.8+1/3*0.6)
p_a

0.391304347826087

In [94]:
p_b = 1/3*0.8/(1/3*0.9+1/3*0.8+1/3*0.6)
p_b

0.3478260869565218

In [95]:
p_c = 1/3*0.6/(1/3*0.9+1/3*0.8+1/3*0.6)
p_c

0.2608695652173913

# Task_4

В университет на факультеты A и B поступило равное количество студентов, а на факультет C студентов поступило столько же, сколько на A и B вместе. Вероятность того, что студент факультета A сдаст первую сессию, равна 0.8. Для студента факультета B эта вероятность равна 0.7, а для студента факультета C - 0.9. Студент сдал первую сессию. Какова вероятность, что он учится: a). на факультете A б). на факультете B в). на факультете C?

In [96]:
p_a = 1/4*0.8/(1/4*0.8+1/4*0.7+1/2*0.9)
p_a

0.24242424242424246

In [98]:
p_b = 1/4*0.7/(1/4*0.8+1/4*0.7+1/2*0.9)
p_b

0.21212121212121213

In [99]:
p_c = 1/2*0.9/(1/4*0.8+1/4*0.7+1/2*0.9)
p_c

0.5454545454545455

# Task_5


Устройство состоит из трех деталей. Для первой детали вероятность выйти из строя в первый месяц равна 0.1, для второй - 0.2, для третьей - 0.25. Какова вероятность того, что в первый месяц выйдут из строя: а). все детали б). только две детали в). хотя бы одна

In [105]:
p_a = 1/3*0.1/(1/3*0.1+1/3*0.2+1/3*0.25)
p_a

0.1818181818181818

In [106]:
p_b = 1/3*0.2/(1/3*0.1+1/3*0.2+1/3*0.25)
p_b

0.3636363636363636

In [107]:
p_c = 1/3*0.25/(1/3*0.1+1/3*0.2+1/3*0.25)
p_c

0.4545454545454545

In [109]:
#5a
P=p_a*p_b*p_c
P

0.0300525920360631

In [127]:
#5b
p_1=p_a*p_b + p_a*p_b + p_a*p_c
p_1

0.25694966190833957

In [126]:
#5c
p_c = 1-(p_1 + p_2 + p_3)
p_c

0.6859504132231405